<form method="post" action="{{ path('animal_delete', {'ficha': animal.ficha}) }}" onsubmit="return confirm('¿Seguro que deseas adoptar a: {{ animal.nombreA }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('adoptar' ~ animal.ficha) }}">
    <button class="btn">Adoptar</button>
</form>
