<form method="post" action="{{ path('animal_delete', {'id': animal.ficha}) }}" onsubmit="return confirm('¿Seguro que quieres eliminar este animal?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.ficha) }}">
    <button class="btn">Eliminar</button>
</form>
