body{
    background-color: #faf4fa;
}
#login{
    border-radius: 3px;
    margin-top: 15%;
    box-shadow: 5px 10px 10px rgb(82, 77, 77);
    font-family: 'Nunito Sans', sans-serif;

}
/* .card-header{
    background: linear-gradient(#f5e1b7, #d0cfd0);
} */
.tituloBold{
    font-family: 'Caveat', cursive;
}
form{
    margin-left: 10px;
    margin-right: 10px;
}