body{
    background-color: #faf4fa;
    font-family: 'Nunito Sans', sans-serif;
}
#campo{
    margin-top: 10%;
    box-shadow: 5px 10px 10px rgb(82, 77, 77);
    
}
.card-header{
    /* background-color: #f5e1b7; */
    border-radius: 3px;
}
.titulo{
    font-family: 'Caveat', cursive;
}