{% extends 'base.html.twig' %}

{% block title %}Regis{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/nuevo_animal.css') }}" type="text/css" rel="stylesheet"/>
    <!-- Caveat Regular 400 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> 
    <!-- Nunito Sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header">
                    <h1>Registrar Enfermedad</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {{ include('forms_ficha/_form_enf.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}